.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border: darkgray 1px solid;
    flex-direction: row;
    margin-bottom: 0;

}
.logo{
    display: flex;
    justify-content: center;

}
.menu{
display: flex;

}
.menu_container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;

}
.menu_container_item{
    display: flex;
}
.menu_container_theme{
    display: flex;

    justify-content: center;
    align-items:center;
}