.page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 32px;

}

.title {
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

._moviesGrid_1mspq_19 {
    --movie-grid-columns: 5;
}



.titleResult {
    color: white;
}

.titleResultSpan {
    color: darkgray;
}

.section {
    display: flex;
    flex-direction: column;
    padding-block: 24px;
    gap: 24px;
}

.category {
    margin: 20px auto 0;
}

.categoryButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.movies {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
    flex-basis:70%
}
.wrapper{
    display: flex;
}
.menu{
    display: flex;
    flex-basis:30%
}