.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border: darkgray 1px solid;

}
.logo{
    display: flex;
    justify-content: center;
    width: 20%;
}
.menu{
display: flex;
    width: 80%;
}
.menu_container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    width: 55%;
}
.menu_container_item{
    display: flex;
}
.menu_container_theme{
    display: flex;
    width: 45%;
    justify-content: center;
    align-items:center;
}