.Container{
    max-width: 1200px;
}
.section{
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    height: 700px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form{
    width: 100%;
    max-width: 560px;
    display: flex;
    gap: 12px;
    margin: 10px;
}
.title{
    margin: 0;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}
.subtitle{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}